<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Ricardo's blog</title>
</head>

<body>
	<div>
		<h1><a href="">Django Girls Blog</a></h1>
	</div>

	<div>
		<p>published: 14.06.2014, 12:14</p>
		<h2><a href="">My first post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus incidunt enim modi soluta, quam excepturi mollitia ratione dolore iure. Esse recusandae praesentium nesciunt maxime voluptates doloremque debitis facere autem dignissimos.</p>
	</div>

	<div>
		<p>published: 14.06.2014, 12:14</p>
		<h2><a href="">My second post</a></h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, obcaecati, impedit? Consequuntur sequi rerum, amet cum repudiandae tempora sapiente doloremque tenetur, aliquid minima architecto. Perferendis dolor ea asperiores tenetur earum?</p>
	</div>


</body>
</html>